ul {
    background-color: black;
}

.navSpacing {
    margin-left: 10px;
}

.aboutme {
    text-indent: 5%;
}

.selfimg {
    float: right;
    margin-right: 50px;
    margin-top: 20px
}

.text1 {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    width: 50%;
}

.text1 .earlylife {
    margin-bottom: 5px;
}

.nav-link {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.nav-link:hover, .nav-link:focus {
    color: blue;
}

.nav-tabs {
  --bs-nav-tabs-link-hover-border-color: blue;
}